@use "../global";
@use "../components/upcoming-sermons";
@use "../components/blog-post-card";
@use "../layout/container";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black-color;
}
