@use "../global";
@use "../components/upcoming-sermons";
@use "../components/blog-post-card";
@use "../layout/container";


.header {
  background: black;
}
.container {
  @include mxn.container;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: $black-color;
  .navbar__link__logo{
    display: flex;
   gap: 130px;
  
}
}