@use "../global";
@use "../components/upcoming-sermons";
@use "../components/blog-post-card";
@use "../layout/container";
@use "../utils/mixins" as mxn;
@use "../utils/variables";
@import "../base/typography";

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $black-color;
  .container {
    .navbar {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar__link__logo {
        display: flex;
        align-items: center;
        .navbar__link {
          display: flex;
          margin-left: 130px;
          gap: 48px;
          li {
            display: flex;
            cursor: pointer;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 3px;
              background: $primary-color;
              border-radius: 10%;
              transform: scaleX(0);
              transition: transform 0.5s ease-in-out;
              transform-origin: center;
              position: absolute;
              left: 0;
              bottom: -10px;
            }
            &:hover::after {
              transform: scaleX(1);
              transform-origin: center;
              width: 100%;
            }
          }
          a {
            font-family: "Roboto Condensed";
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: $white-color;
            opacity: 0.9;
          }
        }
      }
      .navbar__btn {
        @include mxn.primary-btn;
        font-size: "Roboto Condensed";
      }
    }
  }
}

// hero

.home {
  background: url(../../images/home/home-page.jpg) no-repeat;
  background-position: center 80px;
  .container {
    h5 {
      padding-top: 178px;
      font-family: "Roboto Condensed";
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: $white-color;
    }
    h1 {
      margin-top: 16px;
      margin-bottom: 56px;
      max-width: 592px;
      font-family: "Roboto Condensed";
      font-weight: 700;
      font-size: 64px;
      line-height: 82px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $white-color;
    }
    a {
      @include mxn.primary-btn;
      text-transform: uppercase;
    }

    .home__content {
      margin-top: 88px;
      padding-bottom: 128px;
      display: flex;
      gap: 12px;
      .home__border {
        margin-top: 12px;
        width: 18px;
        height: 2px;
        background-color: $primery-color;
      }
      p {
        max-width: 308px;
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
  }
}
.footer {
  background: $black-color;
}
